<div
  class="alert alert-danger right-xl fixed top-xl w-1/3"
  role="alert"
  *ngIf="showAlert">
  A simple danger alert—check it out!
</div>
<div class="register">
  <div class="register__header">Register</div>
  <form [formGroup]="form">
    <div class="register__user">
      <div class="form-group">
        <label for="user">User</label>
        <input
          formControlName="username"
          class="form-control"
          id="user"
          aria-describedby="emailHelp"
          placeholder="Enter user"
          [ngClass]="{'is-invalid': submitted && form.controls['username'].errors}"
        />
        <small class="invalid-feedback"
        >*required field</small
        >
      </div>
    </div>
    <div class="register__email">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          [ngClass]="{'is-invalid': submitted && form.controls['email'].errors}"
        />
        <small class="invalid-feedback"
        >*required field</small
        >
      </div>
    </div>
    <div class="register__password">
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="password"
          placeholder="Password"
          [ngClass]="{'is-invalid': submitted && form.controls['password'].errors}"
        />
        <small class="invalid-feedback"
        >*required field</small
        >
      </div>
    </div>
    <div class="register__button">
      <button
        class="btn btn-primary btn-block"
        (click)="formSubmit()"
        type="submit">
        Register
      </button>
    </div>
    <div class="register__no-account">
      <div>Already registered?</div>
      <button type="button" class="btn btn-link" (click)="navigateToLogin()">Login</button>
    </div>
  </form>
</div>
