<app-alert [alertMessage]="'deleted successfully!'" [showAlert]="showAlert"></app-alert>
<div class="text-lg font-semibold ml-md my-xs">All Posts</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Tags</th>
      <th scope="col">excrept</th>
      <th scope="col">created</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles; let index = index">
      <td>{{ index }}</td>
      <td>{{ article.title }}</td>
      <td>@{{ article.author.username }}</td>
      <td>
        <div class="flex flex-row" *ngFor="let tag of article?.tagList">
          {{ tag }}
        </div>
      </td>
      <td>{{ article.body.split(' ').slice(0, 20).join(' ') }}...</td>
      <td>{{ parseDate(article.createdAt) }}</td>
      <td>
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-expanded="false">
            ...
          </button>
          <div class="dropdown-menu ">
            <a class="dropdown-item" href="#">Edit</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="modal" data-target="#deleteModal">Delete</a>
          </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure to delete Article?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteArticle(article.slug)">Yes</button>
                <button type="button" class="btn btn-outline-secondary">No</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="pagination" class="flex flex-row justify-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
