<div class="login">
  <div class="login__header">LOGIN</div>
  <form [formGroup]="form" >
    <div class="login__email">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          required />
        <small class="invalid-feedback"
          >require</small
        >
      </div>
    </div>
    <div class="login__password">
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
          required
        />
      </div>
    </div>
    <div class="login__button">
      <button
        class="btn btn-primary btn-block"
        (click)="formSubmit()"
        type="submit">
        Login
      </button>
    </div>
    <div class="login__no-account">
      <div>don't have account?</div>
      <button type="button" class="btn btn-link" (click)="navigateToRegister()">Register Now</button>
    </div>
  </form>
</div>
