<div class="dashboard">
  <div class="dashboard__header">
    <div class="dashboard__header-title">Arvan challenge</div>
    <div class="dashboard__header-user">welcome kimia</div>
  </div>
  <div class="dashboard__layout">
    <div class="dashboard__sidebar">
      <div class="dashboard__sidebar-title">Post</div>
      <div class="dashboard__sidebar-item">All Articles</div>
      <div class="dashboard__sidebar-item">New Article</div>
    </div>
    <div class="dashboard__content">
      <app-all-articles></app-all-articles>
    </div>
  </div>
</div>
